// Flexbox Container
.flex {
  @include flex;

  &.column {
    @include flex-direction(column);
  }

  &.row {
    @include flex-direction(row);
  }

  &.justify-center {
    @include justify-content(center);
  }

  &.justify-start {
    @include justify-content(start);
  }

  &.justify-end {
    @include justify-content(end);
  }

  &.justify-space-between {
    @include justify-content(space-between);
  }

  &.justify-space-evenly {
    @include justify-content(space-evenly);
  }

  &.align-center {
    @include align-items(center);
  }

  &.gap-5 {
    @include gap(5px);
  }

  &.gap-10 {
    @include gap(10px);
  }

  &.gap-20 {
    @include gap(20px);
  }

  &.gap-90 {
    @include gap(90px);
  }

  &.grow-1 {
    @include flex-grow(1);
  }

  &.grow-2 {
    @include flex-grow(2);
  }

  &.grow-3 {
    @include flex-grow(3);
  }
}

// Display Utilities
.show {
  display: block;
}

.hide {
  display: none;
}

// Debug Utility
.db {
  border: 2px solid yellow;
}
