.flex {
  display: flex;

  > *.full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }
}
// Display Utilities
.show {
  display: block;
}

.hide {
  display: none;
}

// Debug Utility
.db {
  border: 2px solid yellow;
}
