// COLOR PALETTE
$text-color: #161616; //color for text
$heading-color: #000000; //color for text that needs to be bold
$subheading-color: #011e6a; //color for small headers
$muted-text-color: #666666; //for small text
$accent-color: #f0decb; //for accent elements like logo
$profile-color: #f4f4f4;

$mobile-breakpoint: 393px;
$tablet-breakpoint: 640px;
$narrow-breakpoint: 768px;
$wide-breakpoint: 1024px;
$desktop-breakpoint: 1280px;
$full-breakpoint: 1536px;



$paddings: (
  small: 2px,
  medium: 5px,
  large: 20px,
  small-t: 2px,
  small-r: 2px,
  small-b: 2px,
  small-l: 2px,
  medium-t: 5px,
  medium-r: 5px,
  medium-b: 5px,
  medium-l: 5px,
  large-t: 20px,
  large-r: 20px,
  large-b: 20px,
  large-l: 20px,
);

$margins: (
  small: 2px,
  medium: 5px,
  large: 20px,
  small-t: 2px,
  small-r: 2px,
  small-b: 2px,
  small-l: 2px,
  medium-t: 5px,
  medium-r: 5px,
  medium-b: 5px,
  medium-l: 5px,
  large-t: 20px,
  large-r: 20px,
  large-b: 20px,
  large-l: 20px,
);

$gaps: (
  small: 2px,
  medium: 5px,
  large: 20px,
  small-t: 2px,
  small-r: 2px,
  small-b: 2px,
  small-l: 2px,
  medium-t: 5px,
  medium-r: 5px,
  medium-b: 5px,
  medium-l: 5px,
  large-t: 20px,
  large-r: 20px,
  large-b: 20px,
  large-l: 20px,
);


// Generate utility classes for paddings, margins, gaps
@each $size, $value in $paddings {
  .padding-#{$size} {
    padding: $value;
  }
}

@each $size, $value in $margins {
  .margin-#{$size} {
    margin: $value;
  }
}

@each $size, $value in $gaps {
  .gap-#{$size} {
    gap: $value;
  }
}