.btn{
    cursor: pointer;
}

.hp-login-btn{
    white-space: nowrap;
    background: transparent;
    border: none;
    font-size: 16px; 
    color: #212121;
    font-family: 'fira-sans';
}

.main-btn{
    color: white;
    border-radius: 30px;
    background-color: #2a55c9;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    height: 62px;
    width: 120px;
}